.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(176,229,229);
    text-align: center;
    font-size: 17px;
    font-weight: 800;

}

.navbar{
    color: cyan;
}

.navbar-inverse{
    background-color: rgb(15,82,105);
}

.navbar-inverse .navbar-nav>.active>a{
    color: cyan;
    background-color: rgb(77,17,77);
}

body {
    color: rgb(104,202,249);
    background-color: rgb(73,37,73);
    text-align: center;
}

a {
    color: rgb(184,249,289);
}

h1, h2{
    color: rgb(144,222,255);
}

ul {
  list-style-type: none;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }